
body{
    margin:0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow:hidden;
}

.header{
    top:0;
    left:0;
    background: linear-gradient(to right bottom, #E3E0E0,#D9D9D9) ;
    height:calc(100vh / 3);
    width: 100%;
    border-radius: 0 0 50px 50px;
    z-index: -1;
    color:#FFF;
}

.top-header{
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 1em;
}

h4{
    margin:0;
}

.title{
    font-size: large;
    font-weight: bold;
    color:#919191;
}

.nav-btn{
    height:100%;
}

.main-section{
    padding: 2em;
    position: absolute;
    top:10%;
    left:50%;
    width: 80%;
    transform: translateX(-50%);
    height: 500px;
    overflow-y:auto;
}

.cards{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    box-sizing: border-box;
    padding: 1.5em;
    margin-bottom: 1em;
    border-radius: 20px;
    height: 15em;
    width: 100%;
    background-color: #FFF;
    filter: drop-shadow(0px 3px 10px rgba(0,0,0,0.1));
}

.cards.table{
    height:auto;
    padding: 1em;
}

summary {
    outline: none;
}

.summary-wrapper::after{
    font-family: "Font Awesome 5 Free";
    content: "\f077";
    font-weight: bold;
    color:#86E3CE;
}

.summary-wrapper.green::after{
    color:#86E3CE;
}

.summary-wrapper.purple::after{
    color:#CCABDA;
}


.cards.table[open] .summary-wrapper::after{
    transform: rotate(180deg);
}

.cards.table summary:focus{
    outline: none;
    box-shadow: none;
    background-color: none;
    border: none;
    -webkit-appearance: none;
}


summary::-webkit-details-marker {
    display: none;
}

.summary-wrapper{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

summary{
    -webkit-tap-highlight-color: transparent;
    border-style: none;
    outline: none;
    box-shadow: none;
}

.cards-scroller{
    padding:0 2em;
    height: 80%;
    overflow-y:auto;
    z-index: 100;
}



.top-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    color:#AAAAAA;
    align-items: center;
}

.bottom-cards{
    padding-top: 1em;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    flex-grow: 1;
}

.actionBtns{
    height:55px;
    width: 140px;
    border-radius: 20px;
    border:none;
    color:#FFF;
    font-size: 1em;
    font-weight: bold;
    filter: drop-shadow(0px 3px 6px rgba(0,0,0,0.16));
    -webkit-appearance: none;
}

.actionBtns.green{
    background-color: #86E3CE;
}

.actionBtns.red{
    background-color: #FC887B;
}

.actionBtns.purple{
    background-color: #CCABDA;
}

.latestDisplay{
    background-color: #919191;
    border-radius: 20px;
    color:#FFF;
    text-align: center;
    font-size: 13px;
    padding: 0.7em;
}

.card-input{
    border: none;
    border-radius: 0;
    font-size: 45px ;
    width: 70%;
    background-color: none;
    font-weight: bold;
    text-align: center;
    padding:0;
    -webkit-appearance: none;
}

.card-input.green{
    border-bottom: #86E3CE 2px solid;
    caret-color: #86E3CE;
}

.card-input.purple{
    border-bottom: #CCABDA 2px solid;
    caret-color: #CCABDA;
    font-size: 40px;
    width:auto;
}

.card-input:focus{
    outline: none;
}

#form-select{
    background-color: #FFF;
    border: none;
    border-radius: 20px;
    color:#919191;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding:0.5em;
    filter: drop-shadow(0px 3px 6px rgba(0,0,0,0.1));
    -webkit-appearance: none;
}

#form-select:focus{
    outline: none;
}

.nav-btn{
    border:none;
    font-size: 22px;
    padding:0.5em;
    background-color: none;
    -webkit-appearance: none;
    color:#919191;
}

.table-lead{
    border-radius: 20px;
    background-color: #86E3CE;
    padding:0.5em;
    color:#FFF;
}

.table-lead.green{
    background-color: #86E3CE;
}

.table-lead.purple{
    background-color: #CCABDA;
}
